
body {
    background-image: url("bg3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top; 
 }
div{
    background: rgba(255, 255, 255, 0.3);
}
p{
    font-size: 125%;
}
#blur2{

    background: rgba(255, 0, 0, 0.3); 
    width: 40%;
    border-radius: 10px;
    margin: auto;
    
}
#about{
    width: 85%;

}