body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left top; 
 }
#blur {
    margin: auto;
    margin-top: 4%;
    background: rgba(0, 0, 0, 0.3);
    width: 44%;
    border-radius: 25px;
}

#dp{
    width: 86%;
    margin: 4%;
}
#blur1 {
    margin: auto;

    width: 44%;
    border-radius: 25px;
}
.social{
    width: 25%;
}
#git{
    margin-left: 5%;
    width: 31%;
    margin-top: -3%;
}
#c{
    font-size: 34px;
    margin-left: auto;
    font-family: URW Chancery L, cursive;
}
#blur2{

    background: rgba(28, 2, 255, 0.3); 
    width: 22%;
    border-radius: 10px;
    margin: auto;
    
}
#about{
    width: 85%;

}
